.tree-view-container{
    min-height: 100vh;
    width:350px;
    background:rgb(0,71,110);
    /* margin-right: 400px; */
}
.menu-item{
    display:flex;
    align-items: center;
    gap:20px;
    cursor:pointer;
    color: #ffffff;
}
.menu-list-container{
    list-style: none;
    margin-top: 0px;
    margin-bottom:0px;
}